<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="">Gila Electric</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
        <div class="nav-search">
            <form action="" method="get">
                <input type="text" name="q" placeholder="What are you looking for?" required>
            </form>
        </div>
    </div>
</nav>