/* Row split: 50% images, 50% details */
.images-section {
  flex: 0 0 65%;
  display: flex;
  gap: 1rem; /* gap between thumbnails and primary image */
  
}

.details-card-section {
  flex: 0 0 35%;
  border: none !important;
}

/* Thumbnails column inside images section (40% of images section) */
.thumbnails-column {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 500px; /* same height as primary image */
}

.thumbnails-column img {
  height: calc((500px - 1rem) / 4);
  flex: 1;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.thumbnails-column img:hover {
  transform: scale(1.05);
}

/* Primary image column inside images section (60% of images section) */
.primary-image-column {
  flex: 0 0 80%;
}

#primary-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

#buy-now-btn {
  background-color: #DB4444;
  color: white;
  border: none;
}

#add-wishlist-btn:hover {
  background-color: #A0BCE0;
  color: white;
}

#qty-plus{
  background-color: #DB4444;
  border: none;
  color: white;
}

#qty-input {
  border: 1px solid #6c757d;
}
