{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="forgot-container">
    <h3>Forgot Password</h3>
    <form id="forgot-form">
        <input type="email" id="email" placeholder="Enter your email" required>
        <div id="error" class="form-error"></div>
        <button type="submit" class="btn btn-primary">Send Reset Code</button>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  window.verify_reset_otpUrl = "{% url 'verify_reset_password_otp' %}";
</script>
<script src="{% static 'users/js/forgot_password.js' %}"></script>
{% endblock %}
