{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<form id="reset-password-form">
  <input type="password" id="new_password" placeholder="New Password" required>
  <input type="password" id="confirm_password" placeholder="Confirm Password" required>
  <div id="error" class="form-error"></div>
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

{% endblock %}

{% block extra_scripts %}
<script>
  window.loginUrl = "{% url 'login' %}";
</script>
<script src="{% static 'users/js/reset_password.js' %}"></script>
{% endblock %}

